-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: ypphmugo_apk
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `karyawan`
--

DROP TABLE IF EXISTS `karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `karyawan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `kode_karyawan` varchar(20) NOT NULL,
  `nama_karyawan` varchar(255) NOT NULL,
  `nomor_induk` varchar(50) DEFAULT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `alamat` text DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `kontak_darurat` varchar(255) DEFAULT NULL,
  `foto_path` varchar(255) DEFAULT NULL,
  `tugas_khusus` varchar(255) DEFAULT NULL,
  `nomor_surat_tugas` varchar(100) DEFAULT NULL,
  `tanggal_surat_tugas` date DEFAULT NULL,
  `tahun_penilaian_id` bigint(20) unsigned DEFAULT NULL,
  `pangkalan_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `karyawan_kode_karyawan_unique` (`kode_karyawan`),
  UNIQUE KEY `karyawan_nomor_induk_unique` (`nomor_induk`),
  KEY `karyawan_tahun_penilaian_id_foreign` (`tahun_penilaian_id`),
  KEY `karyawan_user_id_foreign` (`user_id`),
  KEY `karyawan_pangkalan_id_foreign` (`pangkalan_id`),
  CONSTRAINT `karyawan_pangkalan_id_foreign` FOREIGN KEY (`pangkalan_id`) REFERENCES `pangkalan` (`id`) ON DELETE SET NULL,
  CONSTRAINT `karyawan_tahun_penilaian_id_foreign` FOREIGN KEY (`tahun_penilaian_id`) REFERENCES `tahun_penilaian` (`id`) ON DELETE SET NULL,
  CONSTRAINT `karyawan_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `karyawan`
--

LOCK TABLES `karyawan` WRITE;
/*!40000 ALTER TABLE `karyawan` DISABLE KEYS */;
/*!40000 ALTER TABLE `karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `karyawan_pangkalan`
--

DROP TABLE IF EXISTS `karyawan_pangkalan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `karyawan_pangkalan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `karyawan_id` bigint(20) unsigned NOT NULL,
  `pangkalan_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `karyawan_pangkalan_karyawan_id_pangkalan_id_unique` (`karyawan_id`,`pangkalan_id`),
  KEY `karyawan_pangkalan_pangkalan_id_foreign` (`pangkalan_id`),
  CONSTRAINT `karyawan_pangkalan_karyawan_id_foreign` FOREIGN KEY (`karyawan_id`) REFERENCES `karyawan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `karyawan_pangkalan_pangkalan_id_foreign` FOREIGN KEY (`pangkalan_id`) REFERENCES `pangkalan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `karyawan_pangkalan`
--

LOCK TABLES `karyawan_pangkalan` WRITE;
/*!40000 ALTER TABLE `karyawan_pangkalan` DISABLE KEYS */;
/*!40000 ALTER TABLE `karyawan_pangkalan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori_kinerja`
--

DROP TABLE IF EXISTS `kategori_kinerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kategori_kinerja` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_kategori` varchar(20) NOT NULL,
  `kategori` varchar(255) NOT NULL,
  `jenis` enum('kinerja','kegiatan') NOT NULL DEFAULT 'kinerja',
  `is_wajib` tinyint(1) NOT NULL DEFAULT 0,
  `bobot` decimal(5,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kategori_kinerja_kode_kategori_unique` (`kode_kategori`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_kinerja`
--

LOCK TABLES `kategori_kinerja` WRITE;
/*!40000 ALTER TABLE `kategori_kinerja` DISABLE KEYS */;
/*!40000 ALTER TABLE `kategori_kinerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori_kinerja_kompetensi`
--

DROP TABLE IF EXISTS `kategori_kinerja_kompetensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kategori_kinerja_kompetensi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kategori_kinerja_id` bigint(20) unsigned NOT NULL,
  `kompetensi_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_kategori_kompetensi` (`kategori_kinerja_id`,`kompetensi_id`),
  KEY `kategori_kinerja_kompetensi_kompetensi_id_foreign` (`kompetensi_id`),
  CONSTRAINT `kategori_kinerja_kompetensi_kategori_kinerja_id_foreign` FOREIGN KEY (`kategori_kinerja_id`) REFERENCES `kategori_kinerja` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kategori_kinerja_kompetensi_kompetensi_id_foreign` FOREIGN KEY (`kompetensi_id`) REFERENCES `kompetensi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_kinerja_kompetensi`
--

LOCK TABLES `kategori_kinerja_kompetensi` WRITE;
/*!40000 ALTER TABLE `kategori_kinerja_kompetensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kategori_kinerja_kompetensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kepala_pangkalan`
--

DROP TABLE IF EXISTS `kepala_pangkalan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kepala_pangkalan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `pangkalan_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kepala_pangkalan_user_id_pangkalan_id_unique` (`user_id`,`pangkalan_id`),
  KEY `kepala_pangkalan_pangkalan_id_foreign` (`pangkalan_id`),
  CONSTRAINT `kepala_pangkalan_pangkalan_id_foreign` FOREIGN KEY (`pangkalan_id`) REFERENCES `pangkalan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kepala_pangkalan_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kepala_pangkalan`
--

LOCK TABLES `kepala_pangkalan` WRITE;
/*!40000 ALTER TABLE `kepala_pangkalan` DISABLE KEYS */;
/*!40000 ALTER TABLE `kepala_pangkalan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kompetensi`
--

DROP TABLE IF EXISTS `kompetensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kompetensi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_kompetensi` varchar(20) NOT NULL,
  `kategori_kinerja_id` bigint(20) unsigned NOT NULL,
  `kompetensi` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kompetensi_kode_kompetensi_unique` (`kode_kompetensi`),
  KEY `kompetensi_kategori_kinerja_id_foreign` (`kategori_kinerja_id`),
  CONSTRAINT `kompetensi_kategori_kinerja_id_foreign` FOREIGN KEY (`kategori_kinerja_id`) REFERENCES `kategori_kinerja` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kompetensi`
--

LOCK TABLES `kompetensi` WRITE;
/*!40000 ALTER TABLE `kompetensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kompetensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mutasi`
--

DROP TABLE IF EXISTS `mutasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mutasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_mutasi` varchar(20) NOT NULL,
  `karyawan_id` bigint(20) unsigned NOT NULL,
  `tahun_penilaian_id` bigint(20) unsigned DEFAULT NULL,
  `jenis_mutasi` varchar(255) NOT NULL DEFAULT 'pindah',
  `keterangan` text DEFAULT NULL,
  `tanggal_mutasi` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mutasi_kode_mutasi_unique` (`kode_mutasi`),
  KEY `mutasi_karyawan_id_foreign` (`karyawan_id`),
  KEY `mutasi_tahun_penilaian_id_foreign` (`tahun_penilaian_id`),
  CONSTRAINT `mutasi_karyawan_id_foreign` FOREIGN KEY (`karyawan_id`) REFERENCES `karyawan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mutasi_tahun_penilaian_id_foreign` FOREIGN KEY (`tahun_penilaian_id`) REFERENCES `tahun_penilaian` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mutasi`
--

LOCK TABLES `mutasi` WRITE;
/*!40000 ALTER TABLE `mutasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `mutasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pangkalan`
--

DROP TABLE IF EXISTS `pangkalan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pangkalan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_pangkalan` varchar(20) NOT NULL,
  `nama_pangkalan` varchar(255) NOT NULL,
  `is_wajib` tinyint(1) NOT NULL DEFAULT 0,
  `pimpinan_pos` varchar(255) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pangkalan_kode_pangkalan_unique` (`kode_pangkalan`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pangkalan`
--

LOCK TABLES `pangkalan` WRITE;
/*!40000 ALTER TABLE `pangkalan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pangkalan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pangkalan_kategori_kinerja`
--

DROP TABLE IF EXISTS `pangkalan_kategori_kinerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pangkalan_kategori_kinerja` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pangkalan_id` bigint(20) unsigned NOT NULL,
  `kategori_kinerja_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pangkalan_kategori_unique` (`pangkalan_id`,`kategori_kinerja_id`),
  KEY `pangkalan_kategori_kinerja_kategori_kinerja_id_foreign` (`kategori_kinerja_id`),
  CONSTRAINT `pangkalan_kategori_kinerja_kategori_kinerja_id_foreign` FOREIGN KEY (`kategori_kinerja_id`) REFERENCES `kategori_kinerja` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pangkalan_kategori_kinerja_pangkalan_id_foreign` FOREIGN KEY (`pangkalan_id`) REFERENCES `pangkalan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pangkalan_kategori_kinerja`
--

LOCK TABLES `pangkalan_kategori_kinerja` WRITE;
/*!40000 ALTER TABLE `pangkalan_kategori_kinerja` DISABLE KEYS */;
/*!40000 ALTER TABLE `pangkalan_kategori_kinerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penilaian_locks`
--

DROP TABLE IF EXISTS `penilaian_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `penilaian_locks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `karyawan_id` bigint(20) unsigned NOT NULL,
  `tahun_penilaian_id` bigint(20) unsigned NOT NULL,
  `is_final_submitted` tinyint(1) NOT NULL DEFAULT 0,
  `is_locked` tinyint(1) NOT NULL DEFAULT 0,
  `submitted_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `submitted_at` timestamp NULL DEFAULT NULL,
  `locked_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `locked_at` timestamp NULL DEFAULT NULL,
  `unlocked_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `unlocked_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `penilaian_locks_karyawan_id_tahun_penilaian_id_unique` (`karyawan_id`,`tahun_penilaian_id`),
  KEY `penilaian_locks_tahun_penilaian_id_foreign` (`tahun_penilaian_id`),
  KEY `penilaian_locks_submitted_by_user_id_foreign` (`submitted_by_user_id`),
  KEY `penilaian_locks_locked_by_user_id_foreign` (`locked_by_user_id`),
  KEY `penilaian_locks_unlocked_by_user_id_foreign` (`unlocked_by_user_id`),
  CONSTRAINT `penilaian_locks_karyawan_id_foreign` FOREIGN KEY (`karyawan_id`) REFERENCES `karyawan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `penilaian_locks_locked_by_user_id_foreign` FOREIGN KEY (`locked_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `penilaian_locks_submitted_by_user_id_foreign` FOREIGN KEY (`submitted_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `penilaian_locks_tahun_penilaian_id_foreign` FOREIGN KEY (`tahun_penilaian_id`) REFERENCES `tahun_penilaian` (`id`) ON DELETE CASCADE,
  CONSTRAINT `penilaian_locks_unlocked_by_user_id_foreign` FOREIGN KEY (`unlocked_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penilaian_locks`
--

LOCK TABLES `penilaian_locks` WRITE;
/*!40000 ALTER TABLE `penilaian_locks` DISABLE KEYS */;
INSERT INTO `penilaian_locks` VALUES (2,32,2,0,0,NULL,NULL,1,'2026-05-31 08:55:36',1,'2026-05-31 08:56:20','2026-05-31 08:55:13','2026-05-31 08:56:20');
/*!40000 ALTER TABLE `penilaian_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penilaian_unlock_requests`
--

DROP TABLE IF EXISTS `penilaian_unlock_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `penilaian_unlock_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `karyawan_id` bigint(20) unsigned NOT NULL,
  `tahun_penilaian_id` bigint(20) unsigned NOT NULL,
  `requested_by_user_id` bigint(20) unsigned NOT NULL,
  `alasan` text DEFAULT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `reviewed_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `catatan_admin` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `penilaian_unlock_requests_karyawan_id_foreign` (`karyawan_id`),
  KEY `penilaian_unlock_requests_tahun_penilaian_id_foreign` (`tahun_penilaian_id`),
  KEY `penilaian_unlock_requests_requested_by_user_id_foreign` (`requested_by_user_id`),
  KEY `penilaian_unlock_requests_reviewed_by_user_id_foreign` (`reviewed_by_user_id`),
  KEY `penilaian_unlock_requests_status_created_at_index` (`status`,`created_at`),
  CONSTRAINT `penilaian_unlock_requests_karyawan_id_foreign` FOREIGN KEY (`karyawan_id`) REFERENCES `karyawan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `penilaian_unlock_requests_requested_by_user_id_foreign` FOREIGN KEY (`requested_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `penilaian_unlock_requests_reviewed_by_user_id_foreign` FOREIGN KEY (`reviewed_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `penilaian_unlock_requests_tahun_penilaian_id_foreign` FOREIGN KEY (`tahun_penilaian_id`) REFERENCES `tahun_penilaian` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penilaian_unlock_requests`
--

LOCK TABLES `penilaian_unlock_requests` WRITE;
/*!40000 ALTER TABLE `penilaian_unlock_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `penilaian_unlock_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `performance_rating`
--

DROP TABLE IF EXISTS `performance_rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `performance_rating` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_rating` varchar(20) NOT NULL,
  `rating` varchar(255) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `performance_rating_kode_rating_unique` (`kode_rating`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `performance_rating`
--

LOCK TABLES `performance_rating` WRITE;
/*!40000 ALTER TABLE `performance_rating` DISABLE KEYS */;
INSERT INTO `performance_rating` VALUES (1,'RTG-001','A (Sangat Baik)','Nilai 90 ke atas','2026-02-27 00:30:47','2026-02-27 00:30:47'),(2,'RTG-002','B (Baik)','Nilai 80 - 89','2026-02-27 00:30:47','2026-02-27 00:30:47'),(3,'RTG-003','C (Cukup)','Nilai 70 - 79','2026-02-27 00:30:47','2026-02-27 00:30:47'),(4,'RTG-004','D (Kurang)','Nilai 60 - 69','2026-02-27 00:30:47','2026-02-27 00:30:47'),(5,'RTG-005','E (Sangat Kurang)','Nilai di bawah 60','2026-02-27 00:30:48','2026-02-27 00:30:48');
/*!40000 ALTER TABLE `performance_rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setting_lembaga`
--

DROP TABLE IF EXISTS `setting_lembaga`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `setting_lembaga` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_lembaga` varchar(255) DEFAULT NULL,
  `nama_yayasan` varchar(255) DEFAULT NULL,
  `alamat_lembaga` varchar(255) DEFAULT NULL,
  `telepon_lembaga` varchar(100) DEFAULT NULL,
  `email_lembaga` varchar(150) DEFAULT NULL,
  `website_lembaga` varchar(150) DEFAULT NULL,
  `sidebar_title` varchar(150) NOT NULL DEFAULT 'Website Aplikasi',
  `sidebar_subtitle_1` varchar(255) NOT NULL DEFAULT 'Sistem Manajemen Kinerja Pengabdian',
  `sidebar_subtitle_2` varchar(255) NOT NULL DEFAULT 'Yayasan Pondok Pesantren Al-Huda Mugomulyo',
  `sidebar_show_title` tinyint(1) NOT NULL DEFAULT 1,
  `sidebar_show_subtitle_1` tinyint(1) NOT NULL DEFAULT 1,
  `sidebar_show_subtitle_2` tinyint(1) NOT NULL DEFAULT 1,
  `lokasi_surat` varchar(150) DEFAULT NULL,
  `nama_ketua_yayasan` varchar(255) DEFAULT NULL,
  `nama_ketua_babinlumni` varchar(255) DEFAULT NULL,
  `logo_path` varchar(255) DEFAULT NULL,
  `ttd_ketua_yayasan_path` varchar(255) DEFAULT NULL,
  `ttd_ketua_babinlumni_path` varchar(255) DEFAULT NULL,
  `show_logo` tinyint(1) NOT NULL DEFAULT 1,
  `show_tahun_ajaran` tinyint(1) NOT NULL DEFAULT 1,
  `show_nama_pimpinan` tinyint(1) NOT NULL DEFAULT 1,
  `show_tanda_tangan` tinyint(1) NOT NULL DEFAULT 1,
  `laporan_default_jenis` enum('ringkas','rinci') NOT NULL DEFAULT 'ringkas',
  `laporan_show_no` tinyint(1) NOT NULL DEFAULT 1,
  `laporan_show_kode_karyawan` tinyint(1) NOT NULL DEFAULT 1,
  `laporan_show_pangkalan` tinyint(1) NOT NULL DEFAULT 1,
  `laporan_show_nilai_akhir` tinyint(1) NOT NULL DEFAULT 1,
  `laporan_show_rating` tinyint(1) NOT NULL DEFAULT 1,
  `laporan_show_detail_kompetensi` tinyint(1) NOT NULL DEFAULT 1,
  `laporan_show_bobot_kategori` tinyint(1) NOT NULL DEFAULT 1,
  `laporan_paper_size` varchar(20) NOT NULL DEFAULT 'a4',
  `laporan_orientation` varchar(20) NOT NULL DEFAULT 'portrait',
  `laporan_margin_top` decimal(4,2) NOT NULL DEFAULT 2.54,
  `laporan_margin_right` decimal(4,2) NOT NULL DEFAULT 2.54,
  `laporan_margin_bottom` decimal(4,2) NOT NULL DEFAULT 2.54,
  `laporan_margin_left` decimal(4,2) NOT NULL DEFAULT 2.54,
  `laporan_text_align` varchar(20) NOT NULL DEFAULT 'left',
  `laporan_header_align` varchar(20) NOT NULL DEFAULT 'center',
  `laporan_cell_padding` tinyint(3) unsigned NOT NULL DEFAULT 6,
  `laporan_border_width` decimal(3,1) NOT NULL DEFAULT 1.0,
  `laporan_font_size` tinyint(3) unsigned NOT NULL DEFAULT 11,
  `laporan_title_font_size` tinyint(3) unsigned NOT NULL DEFAULT 16,
  `laporan_col_width_no` smallint(5) unsigned NOT NULL DEFAULT 32,
  `laporan_col_width_kode` smallint(5) unsigned NOT NULL DEFAULT 72,
  `laporan_col_width_nama` smallint(5) unsigned NOT NULL DEFAULT 190,
  `laporan_col_width_pangkalan` smallint(5) unsigned NOT NULL DEFAULT 140,
  `laporan_col_width_nilai` smallint(5) unsigned NOT NULL DEFAULT 88,
  `laporan_col_width_rating` smallint(5) unsigned NOT NULL DEFAULT 108,
  `laporan_column_order` text DEFAULT NULL,
  `laporan_label_no` varchar(100) NOT NULL DEFAULT 'No',
  `laporan_label_kode_karyawan` varchar(100) NOT NULL DEFAULT 'Kode Karyawan',
  `laporan_label_nama_karyawan` varchar(100) NOT NULL DEFAULT 'Nama Karyawan',
  `laporan_label_pangkalan` varchar(100) NOT NULL DEFAULT 'Pangkalan',
  `laporan_label_detail_kompetensi` varchar(100) NOT NULL DEFAULT 'Detail Kompetensi',
  `laporan_label_nilai_akhir` varchar(100) NOT NULL DEFAULT 'Nilai Akhir',
  `laporan_label_rating` varchar(100) NOT NULL DEFAULT 'Rating',
  `laporan_scoring_method` varchar(40) NOT NULL DEFAULT 'weighted_kategori',
  `laporan_bobot_kinerja` decimal(5,2) NOT NULL DEFAULT 70.00,
  `laporan_bobot_kegiatan` decimal(5,2) NOT NULL DEFAULT 30.00,
  `tahun_penilaian_id` bigint(20) unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `setting_lembaga_tahun_penilaian_id_foreign` (`tahun_penilaian_id`),
  CONSTRAINT `setting_lembaga_tahun_penilaian_id_foreign` FOREIGN KEY (`tahun_penilaian_id`) REFERENCES `tahun_penilaian` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setting_lembaga`
--

LOCK TABLES `setting_lembaga` WRITE;
/*!40000 ALTER TABLE `setting_lembaga` DISABLE KEYS */;
/*!40000 ALTER TABLE `setting_lembaga` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tahun_penilaian`
--

DROP TABLE IF EXISTS `tahun_penilaian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tahun_penilaian` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `periode_penilaian` varchar(255) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tahun_penilaian`
--

LOCK TABLES `tahun_penilaian` WRITE;
/*!40000 ALTER TABLE `tahun_penilaian` DISABLE KEYS */;
INSERT INTO `tahun_penilaian` VALUES (1,'2023/2024','Tahun Pengabdian 2023/2024',0,'2026-02-27 00:30:47','2026-05-08 23:07:29'),(2,'2025/2026','Tahun Pengabdian 2025/2026',1,'2026-04-12 22:59:05','2026-05-08 23:07:29'),(3,'2024/2025','Tahun Pengabdian 2024/2025',0,'2026-04-12 22:59:46','2026-04-12 22:59:54');
/*!40000 ALTER TABLE `tahun_penilaian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi`
--

DROP TABLE IF EXISTS `transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaksi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_transaksi` varchar(20) NOT NULL,
  `karyawan_id` bigint(20) unsigned NOT NULL,
  `tahun_penilaian_id` bigint(20) unsigned DEFAULT NULL,
  `kompetensi_id` bigint(20) unsigned DEFAULT NULL,
  `performance_rating_id` bigint(20) unsigned DEFAULT NULL,
  `nilai` decimal(5,2) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaksi_kode_transaksi_unique` (`kode_transaksi`),
  KEY `transaksi_karyawan_id_foreign` (`karyawan_id`),
  KEY `transaksi_tahun_penilaian_id_foreign` (`tahun_penilaian_id`),
  KEY `transaksi_kompetensi_id_foreign` (`kompetensi_id`),
  KEY `transaksi_performance_rating_id_foreign` (`performance_rating_id`),
  CONSTRAINT `transaksi_karyawan_id_foreign` FOREIGN KEY (`karyawan_id`) REFERENCES `karyawan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transaksi_kompetensi_id_foreign` FOREIGN KEY (`kompetensi_id`) REFERENCES `kompetensi` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transaksi_performance_rating_id_foreign` FOREIGN KEY (`performance_rating_id`) REFERENCES `performance_rating` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transaksi_tahun_penilaian_id_foreign` FOREIGN KEY (`tahun_penilaian_id`) REFERENCES `tahun_penilaian` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi`
--

LOCK TABLES `transaksi` WRITE;
/*!40000 ALTER TABLE `transaksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','user') NOT NULL DEFAULT 'user',
  `pangkalan_id` bigint(20) unsigned DEFAULT NULL,
  `is_kepala` tinyint(1) NOT NULL DEFAULT 0,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_username_unique` (`username`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_pangkalan_id_foreign` (`pangkalan_id`),
  CONSTRAINT `users_pangkalan_id_foreign` FOREIGN KEY (`pangkalan_id`) REFERENCES `pangkalan` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'ypphmugo_apk'
--
--
-- WARNING: can't read the INFORMATION_SCHEMA.libraries table. It's most probably an old server 5.5.5-10.4.32-MariaDB.
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-04 11:23:03
